<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
    
    </div>
    
    <div class="navbar-menu">
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      
      <ul class="nav-list">
        <li class="nav-item">
          <a href="/home" class="nav-link active">
            <span class="link-text">Home</span>
            <span class="link-border"></span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/projects" class="nav-link">
            <span class="link-text">Projects</span>
            <span class="link-border"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>