<footer class="footer bg-light py-4">
    <div class="container text-center">
        <h1>What's next ?</h1>
        <p>Let's connect</p>
      <!-- Social Media Links with Images -->
      <div class="mb-3">
        <a href="https://github.com/yourusername" class="mx-3" target="_blank">
          <img src="assets/images/Git.png" alt="GitHub" class="social-icon">
        </a>
        <a href="https://www.linkedin.com/in/yourusername" class="mx-3" target="_blank">
          <img src="assets/images/linkedin.png" alt="LinkedIn" class="social-icon">
        </a>
        <a href="https://twitter.com/yourusername" class="mx-3" target="_blank">
          <img src="assets/images/leet.png" alt="leetCode" class="social-icon">
        </a>
        <a href="mailto:mohamedaziztheiri@gmail.com" class="mx-3">
          <img src="assets/images/mail.png" alt="Email" class="social-icon">
        </a>
      </div>
  
      <!-- Copyright Info -->
      <p class="m-0 text-muted">&copy; 2024 Mohamed Aziz Theiri. All rights reserved.</p>
    </div>
  </footer>
  