<section id="about" class="container-full">
  <div class="about-content">
    <div class="hero-container">
      <div class="profile-container">
        <img src="assets/images/profile.jpg" alt="Mohamed Aziz" class="profile-img" />
        <div class="circle-glow"></div>
      </div>
      <div class="text-content">
        <h1 class="greeting">Hello, I'm Mohamed Aziz Theiri</h1>
        <p class="description">
          I hold a Bachelor's in Data Analysis & Big Data from ISAMM and am pursuing Computer Engineering at ESPRIT. Originally focused on data analysis, my passion now lies in back-end development. I'm excited to apply my skills in innovative, dynamic projects.
        </p>
      </div>
    </div>
  </div>
</section>
