<section id="about" class="container mt-5">
    <div class="row align-items-center">
      <!-- Left Column: Image -->
      <div class="col-lg-6">
        <div class="image-container">
          <img src="assets/images/profile.jpg" alt="Mohamed Aziz" class="img-fluid rounded-circle animate__animated animate__fadeInLeft" />
        </div>
      </div>
      <!-- Right Column: Description -->
      <div class="col-lg-6">
            <div class="text-container animate__animated animate__fadeInRight">
            <h2>Hello, I'm Mohamed Aziz Theiri</h2>
            <p>I am a Software Engineer passionate about building scalable and efficient solutions. With years of experience in the tech industry, I specialize in creating robust web applications and improving user experiences. My goal is to keep learning and advancing in the field of software development.</p>
            <p>I enjoy tackling challenges, working with cutting-edge technologies, and collaborating in agile environments to deliver high-quality results.</p>
            </div>
      </div>
    </div>
  </section>
  